body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0px; /* Ocupa os espaços em branco */
}

.background-dark {
    background-color: black;
    padding: 20px;
}

.negrito {
    font-weight: bold;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.logo-link {
    margin-left: 45px;
}

.d-flex {
    display: flex;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bootom-20 {
    margin-bottom: 35px;
}

.margin-bootom-150 {
    margin-bottom: 150px;
}

.margin-left-35 {
    margin-left: 35px;
}

.margin-left-45 {
    margin-left: 45px;
}

.margin-right-50 {
    margin-right: 50px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-260 {
    padding-top: 260px;
}
