body {
    font-family: Helvetica, Arial, sans-serif;
}

.background-dark {
    background-color: black;
    padding: 20px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.logo-link {
    margin-left: 45px;
}

.d-flex {
    display: flex;
}

.margin-top {
    margin-top: 20px;
}

.margin-bootom {
    margin-bottom: 150px;
}

.margin-right {
    margin-right: 50px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-top-260 {
    padding-top: 260px;
}
