#sobre {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
}

.grid-item {
    padding: 10px;
    text-align: center;
}

.grid-item a {
    text-decoration: none;
    color: white;
}

.grid-item a:hover {
    color: #1ed760;
}

.titulo {
    font-size: 12px;
    color: rgb(164, 156, 144);
    text-transform: uppercase;
    font-weight: bold;
}

.sub-titulo {
    font-size: 12px;
    color: rgb(164, 156, 144);
}

#politicas-da-empresa a {
    text-decoration: none;
    margin-right: 15px;
}

#politicas-da-empresa a:hover {
    color: #1ed760;
}
