.titulo {
    font-size: 12px;
    color: rgb(164, 156, 144);
    text-transform: uppercase;
    font-weight: bold;
}

.sub-titulo {
    font-size: 12px;
    color: rgb(164, 156, 144);
}

#informacoes-da-empresa {
    text-align: left;
}

#informacoes-da-empresa ul {
    list-style-type: none;
    overflow: hidden;
}

#informacoes-da-empresa li {
    margin-top: 25px;
    text-align: left;
}

#informacoes-da-empresa ul li a {
    text-decoration: none;
    color: white;
}

#informacoes-da-empresa ul li a:hover {
    color: #1ed760;
}

#politicas-da-empresa a {
    text-decoration: none;
    margin-right: 15px;
}

#politicas-da-empresa a:hover {
    color: #1ed760;
}
