#menu {
    list-style-type: none;
    overflow: hidden;
}

#menu a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

#menu a img {
    margin-left: 45px;
}

#menu a:hover {
    color: #1ed760;
}

.nav-right {
     float: right;
}

.nav-right a {
    padding: 10px;
}
